

.dev-intro{
    font-family:"Inter", sans-serif ;
    /* font-size:100px; */
    font-weight: 700;
    line-height: 0.9;
    transition: transform 0.2s ease-out
}


.developer{
    animation: beep 3s ease-in-out forwards;

}

.discription-p{
    font-family:"Inter", sans-serif ;
}

@keyframes beep {
    0% {
      transform: scale(1);
      /* background-color: #fff; */
    }
    /* 25%{
        transform: scale(1);
    } */
    50% {
      transform: scale(1.7);
      /* background-color: #ff0000; */
    }
    100%{
        transform: scale(1);
    }
  }

.intro{
    font-family: "Inter", sans-serif;
    /* font-weight: 1000; */
    font-size: 100px;
    font-style: normal;
}

.marquee_container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee {
    display: inline-block;
    padding-right: 100%; 
    animation: marquee 70s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

