.github{
    /* border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right:1px solid white ; */
    mix-blend-mode: white;
    /* border-top-right-radius: 40%;
    border-bottom-right-radius: 40%; */
    left: 1400px;
}