@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: #282c34;
    --main-text-color: #61fb82;
    --font-size: 16px;
}

body{
    /* background-color: #181a1f; */
    background-color: rgb(255, 255, 255);
    font-family:"Inter", sans-serif ;
    /* color: var(--main-text-color); */
}
